*{
    overflow-x: hidden;
}
.App{
    background-color: #4A4E69;
    background-color: aqua;
    min-height: 100vh;

}
.card-box{
    margin-left: 60px;
    margin-right: 60px;
    gap: 20px;
    flex-direction: row;
}
@media (max-width: 768px) {
    .card-box{
        margin-left: 0px;
        margin-right:0px ;
        width: 100%;
    }
}

.active{
    border: 2px solid white;
}
.card:hover{
    -webkit-box-shadow: 7px 6px 8px 0px rgba(0,0,0,0.46);
-moz-box-shadow: 7px 6px 8px 0px rgba(0,0,0,0.46);
box-shadow: 7px 6px 8px 0px rgba(0,0,0,0.46);
}
.filterbtn:hover{
    -webkit-box-shadow: 7px 6px 8px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 7px 6px 8px 0px rgba(0,0,0,0.46);
    box-shadow: 7px 6px 8px 0px rgba(0,0,0,0.46);
}